.footer{    
    margin-top: vw(125);
     &__info{
         height: vh(150);
         position: relative;
         left: 0;
         top: 0;
         padding: vh(120) vw(20);
         width: vw(971);
     }
     &__logo{
     @include font(vw(24), 700, vh(30));
     color: #4D5E80;
     width: vw(133);
    }
    &__menu{
        position: absolute;
        top: vh(120);
        left: vw(400);
        width: vw(320);
        flex-wrap: wrap;
        text-align: center;
        display: flex;
        list-style: none;
    }
     &__link{
            @include font(vw(13), 700, vh(25));
            color: #7D8FB3;
            padding: vw(20);
            padding-top: 0;
            text-decoration: none;
            justify-content: space-between;
     }
     &__row{
            @include font(vw(13), 700, vh(25));
            color: #7D8FB3;
            padding-bottom: vh(20);
            
     }
    &__evaluate{
        position: absolute;
        top: vh(120);
        left: vw(200);
        margin-left: vw(650);
        padding-bottom: vw(30);
 
    }
    &__title{
     @include font(vw(14), 700, vh(30));
     color: #7D8FB3;
     padding-top: vh(20);
     width: vw(300);
     svg{
         padding-left: vw(20);
     }
    }
    &__bottom{
        position: relative;  
        top: vh(30);
        left: vw(20);
        padding: vh(48);
        @include font(vw(13), 700, vh(25));
        color: #7D8FB3;
        
     p{
         width: vw(299);
         
     }  
     .rules{
         position: absolute;
         top: vh(40);
         padding-left: vw(800);
         display: flex;
     }
 
     span{
         padding-left: vw(40);
         display: flex;
         
     }
     
    }
    hr{
        width: 100%;
        height: vw(2);
        border-color:  #EDEFF2;
    }
 }
 .footer{
    @include mobile {
        margin-top: vmin(125);
     &__info{
         height: vmin(70);
         padding: vmin(60) vmin(20);
         width: vmin(100);
     }
     &__logo{
     @include font(vmin(24), 700, vmin(30));
    }
    &__menu{
        position: absolute;
        top: vmin(30);
        left: vmin(230);
        width: vw(320);
        text-align: left;
        display: flex;
        list-style: none;
    }
     &__link{
            @include font(vmin(13), 700, vmin(25));
            color: #7D8FB3;
            padding: vw(20);
            padding-top: 0;
            text-decoration: none;
            justify-content: space-between;
     }
     &__row{
            @include font(vmin(13), 500, vmin(25));
            width: vmin(100);
            height: vmin(10);
    }
    &__evaluate{
        display: none;
    }
    &__title{
        display: none;
    }
    &__bottom{
        top: vmin(10);
        @include font(vmin(13), 700, vmin(25));
        
     p{
         width: vmin(300);
         
     }  
     .rules{
         display: none;
     }    
    }
    hr{
        height: vmin(2);
    }   
 }
}
 